@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #0f1014;
    --background: #08080e;
    --primary: #2387e5;
    --secondary: #09100b;
    --accent: #45d3f2;
  }

  body {
    background-color: var(--background);
    color: var(--text);
    min-height: 100dvh;
    height: 100dvh;
  }
}
